html {
  scroll-behavior: smooth;
}
body {
  max-width: 100%; 
  max-height: 100%;
  /* cursor:none; */
}
/* .cursor {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  position: absolute;
  border-radius: 30px;
  pointer-events: none;
  transform: translate(-50%, -50%);
} */
/* #cursor-click {
  animation: cursorClick 0.3s linear;
}
@keyframes cursorClick {
  from {background-color: none;}
  to {background-color: black;}
}
#cursor-grow {
  background-color: black;
}
a {
  cursor: none;
}
button {
  cursor: none;
}
input {
  cursor: none;
} */
.halloween {
  top: -70%;
  /* background-image: url(../img/halloween.png); */
  width: 15%;
  position:absolute;
  height: 100%;
  /* background-color: rgba(253, 253, 253, 0.4); */
  right: 0px;
  order: 1;
}
#halloween {
  opacity: 1;
  position: absolute;
  cursor: pointer;
}
#halloween_2 {
  cursor: pointer;
  position: absolute;
}
.body {
  background-color: rgb(222, 213, 209);
  position: relative;
  width: 70%;
  min-height: 70%;
  max-height: 110%;
  top: 15%;
  left: 15%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}
@font-face {
  font-family: usualText;
  src: url(font/expressway\ rg.ttf);
}
.practice_list {
  line-height: 1.5;
}
.to-top {
  background: white;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  color: #1f1f1f;
  font-size: 32px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 0.6;
}
.back {
    background-color: rgb(217, 184, 128);
    width: 100%; height: 170%;
    position: absolute;
    left: 0px;
    top: 0px;
}
.company-name {
  background-color: rgb(217, 184, 128);
  /* background-color: white; */
  position: absolute;
  width: 70%;
  height: 5%;
  left: 15%;
  top: 0%;
  display:flex;
  flex-flow: row wrap;
  align-content: center;
}
.head {
    background-color: rgba(66, 95, 87, 0.6);
    position: absolute;
    width: 70%;
    height: 5%;
    left: 15%;
    top: 5%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
}

.head_option {
    font-family: monospace;
    color: white;
    width: 16.66%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:x-large;
    transition: 0.5s ease;
    order: 2;
}
.head_option:hover {
  box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.5);
}
.head_link {
    transition: 0.5s ease;
    text-decoration: none;
    color: white;
    padding: 10px 0;
    border-bottom: 3px rgba(66, 95, 87, 0.6);
}

.footer {
    background-color: rgb(148, 152, 154);
    position: absolute;
    width: 100%;
    height: 10%;
    top: 90%;
    left: 0px;
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.4);
}
.copyright {
  color: white;
  font-family: monospace;
  bottom: 2%;
  right: 0%;
  position: absolute;
  width: 35%;
  font-size: x-small;
  text-align: right;
}

/*----------------STAFF SECTION------------------------*/


/*-----------------------CAREER SECTION-------------------------*/

/*-----------------------PRACTICE SECTION-------------------------*/
